/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pembungkus .back {
  position: relative;
  padding-bottom: 76px;
}

header {
  padding-top: 180px;
}

header .container {
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

header .container .col-7 {
  position: relative;
}

header .container .col h1 {
  font-family: "Spline Sans", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 97px;
  margin-bottom: 41px;
  position: absolute;
  width: 582px;
  height: 172px;
  top: -16px;
}

.kotak {
  margin-bottom: 41px;
  width: 582px;
  height: 172px;
}

.svg-kali {
  position: absolute;
  top: 27px;
  left: -54px;
}

@keyframes variant2 {
  0% {
    background-position: left;
    animation-timing-function: linear;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: right;
  }
}
header .container .col h1 .inspire {
  animation-name: variant2;
  background: linear-gradient(
    94deg,
    #40c9ff 0%,
    #e81cff 38.28%,

    #bf0fff 0%,
    #cbff49 100%,
    #7f5af0 0%,
    #baf935 50.52%,
    #6290c3 100%
  );
  animation-delay: 1ms;
  background-size: 400%;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* End Animasi inspire */

.ins-div {
  width: 300px;
  height: 129px;
  border-radius: 50%;
  transform: rotate(-11deg);
  border: 3px solid #fff;
  padding: 5px;
  position: relative;
  left: -32px;
  top: -36px;
}

header .container .col h1 .T-digi {
  color: #e2f0e7;
}

header .container .col h1 .crea {
  color: #baff29;
}

header .container .col .slogan {
  display: flex;
  gap: 18px;
  flex-direction: column;
  margin-bottom: 62px;
}

header .container .col .slogan p {
  font-family: "Spline Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

header .container .col button {
  color: #fffffe;
  font-family: "Spline Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  border-radius: 50px;
  background: #7f5af0;
  border: 0 solid black;
  width: 267px;
  height: 64px;
  position: relative;
}
header .container .col button span {
  color: #fffffe;
  position: relative;
  z-index: 2;
}

header .container .col button .discover {
  padding: 23px 7px 24px 31px;
}

header .container .col button .svg-banah {
  padding: 0 32px 0 0;
}

/* bagian kanan home */
header .container .col-two {
  top: 10px;
  width: 400px;
  height: 685px;
  position: relative;
  top: 0;
}

header .container .col-two .line-1 {
  border: 4px solid rgba(127, 90, 240, 0.85);
  transform: translateX(-24px);
}

header .container .col-two .line-2 {
  border: 4px solid rgba(186, 255, 41, 0.38);
  transform: translateX(100px) translateY(71px);
}

header .container .col-two .line {
  width: 403px;
  height: 612px;
  border-radius: 23px;
  position: absolute;
}

.con-img {
  width: 449px;
  height: 609px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 30px;
  background: linear-gradient(
      180deg,
      rgba(186, 243, 62, 0.06) -20.2%,
      rgba(130, 185, 11, 0.13) 108.46%
    ),
    url("../../image/image-10.png"), lightgray 50% / cover no-repeat;
  border-radius: 23px;
}

.circle {
  position: absolute;
  z-index: 2;
  width: 141px;
  height: 141px;
  border-radius: 100%;
  background-color: #baff29;
  bottom: 24px;
  right: -58px;
}

.circle .btn-two {
  position: relative;
  bottom: -14px;
  left: -12px;
  width: 87px;
  height: 87px;
  margin: auto;
}

/* AKHIR HOME */

/* AWAL NAVBAR */
.pembungkus .back .navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
}

nav .container .collapse ul li a {
  color: #e2f0e7;
  font-family: "Spline Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 120px; */
  position: relative;
  /* background-color: #baff29; */
}
nav .container .collapse ul {
  gap: 60px;
}
/* humburger animasi */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #fff;
  transform: rotate(43deg) translate(-3px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-53deg);
  background-color: #fff;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  scale: 0;
}
/* AKHIR NAVBAR */

/* AWAL SECTION 1 */

.section-one .container-fluid {
  background-color: #baf935;
  padding: 108px 105px 108px 104px;
}
.section-one .container-fluid .container {
  position: relative;
}
section.section-one .container-fluid .container h1.d-flex {
  font-family: "Spline Sans", sans-serif;
  font-size: 4vw;
  font-weight: 700;
  gap: 44px;
  margin-bottom: 102px;
}

section.section-one .container-fluid .container h1.d-flex span {
  color: #16161a;
}

.section-one .container-fluid .container p {
  color: var(--primary-ps-5, #16161a);
  font-family: "Spline Sans", sans-serif;
  font-size: calc(2em - 0.3em);
  font-weight: 400;
  margin-bottom: 66px;
}

.section-one .container-fluid .container button {
  color: var(--secondary-ss-1, #e3e3e5);
  font-family: "Spline Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  width: 396.5px;
  padding: 29.767px 64.297px;
  align-items: flex-start;
  gap: 11.907px;
  border-radius: 59.535px;
  background: var(--primary-ps-5, #16161a);
}

.section-one .container-fluid .container .svg-panah-2 {
  position: absolute;
  top: -53px;
  left: -59px;
}
.section-one .container-fluid .container .svg-kali-2 {
  position: absolute;
  bottom: -15px;
  right: -35px;
}
/* AKHIR SECTION 1 */

/* merquee html (teks berjalan ) */

.kotak-lur {
  height: 98px;
  background-color: #16161a;
}

/* end merquee html */

/*Servics Section*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #16161a; */
}

.service-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.service-container h2 {
  font-family: "Spline Sans", sans-serif;
  font-size: 58px;
  font-weight: 600;
  margin: 40px;
  color: #fff;
  margin-left: 120px;
}

span {
  color: #baf935;
}

.divider {
  border-top: 7px solid #baf935;
  width: 100%;
  right: 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.image-container,
.text-container {
  flex: 1;
}

.image-container {
  order: 1;
}

.text-container {
  order: 2;
}

.content-container:nth-child(1) .image-container,
.content-container:nth-child(3) .image-container {
  order: 2;
}

.content-container:nth-child(1) .text-container,
.content-container:nth-child(3) .text-container {
  order: 1;
}

.text-container {
  padding: 20px 80px;
}

.content-container .text-container button {
  color: #fffffe;
  font-family: "Spline Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  background: #7f5af0;
  border: 0 solid black;
  width: 430px;
  height: 60px;
  padding-right: 80px;
  position: relative;
}

.svg-panah {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.text-container span {
  color: #fff;
}

.text-container p {
  width: 430px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  font-family: "Spline Sans", sans-serif;
  padding: 30px 0px;
  letter-spacing: 1px;
  line-height: 25px;
}

.image-container {
  position: relative;
}

/*whyus*/

.why-us-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.why-us-container h2 {
  font-family: "Spline Sans", sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin: 21px;
  color: #fff;
}

.divider2 {
  border-top: 7px solid #baf935;
  width: 100%;
  margin: 0 1rem;
  left: 0;
}

.content-container-why {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin-top: 1rem;
}

.image-container-why {
  width: 50%;
  background-size: cover;
}

.image-container img {
  width: 80%;
  height: auto;
  display: flex;
  margin: 150px;
  margin-top: 20px;
}

.text-container-why {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80px;
  margin-left: 1rem;
}

.text-container-1,
.text-container-2,
.text-container-3 {
  margin-bottom: 1rem;
}

.text-container .col-md-4 h1 {
  font-size: 44px;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-family: "Spline Sans";
  margin-top: 10px;
}

.text-container p {
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
  font-family: "Spline Sans";
  font-size: 15px;
  text-align: justify;
  line-height: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.Sdivider {
  border-top: 1px solid #7f5af0;
  width: 75%;
}
/*whyus ends*/

/*project starts*/
.row .col-md-6 h1 {
  color: #fff;
  margin-left: 80px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  font-family: "Spline Sans";
}

.image-container-pro img {
  width: 80%;
  height: auto;
  display: flex;
  margin: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-transparent {
  position: relative;
  bottom: 0;
  left: 27%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  border: 2px solid #7f5af0;
  background-color: transparent;
  color: #7f5af0;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  font-family: "Spline Sans";
}

.btn-transparent:hover {
  background-color: #7f5af0;
  color: white;
}

/* Start Footer */
footer .container-fluid {
  padding-top: 69px;
  padding-bottom: 34px;
  background-color: #16161a;
}

footer .container .row {
  margin-bottom: 94px;
  gap: 142px;
}
footer .container .row div.find-us {
  justify-content: space-around;
}
footer .container .row .col {
  gap: 13px;
}
footer .container .row .col h3 {
  color: #fcfcfc;
  font-family: "Spline Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.34px;
}
footer .container .row .col div {
  display: flex;
  align-items: center;
  gap: 11px;
}

footer .container .row .col div span.svg {
  width: 40px;
  height: 40px;
  background-color: #535357;
  text-align: center;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container .row .col p,
footer .container .row .col div span {
  color: #fcfcfc;
  font-family: "Spline Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.198px;
}

footer .container p.tm {
  color: #fff;
  font-family: "Spline Sans";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
/* End Footer */

/* RESPONSIVE */
@media (max-width: 1300px) {
  /* header Start */
  header .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  header .container .col-two .line-1 {
    transform: translateX(-50px);
  }

  header .container .col-two .line-2 {
    transform: translateX(65px) translateY(71px);
  }
  .con-img {
    left: 0;
  }
  .circle {
    right: -43px;
  }
  .svg-kali {
    top: 28px;
    left: -46px;
  }
  /* header end */

  /* Start Get in Touch */

  /* End Get in Touch */
}

@media (max-width: 1200px) {
  /* Start Header */
  header .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  header .container .col-two {
    width: 300px;
  }

  header .container .col h1 {
    font-size: calc(8vmin + 0.8em);
    line-height: 81px;
  }

  header .container .col .kotak {
    max-width: 482px;
    margin-bottom: 10px;
  }

  .ins-div {
    width: 241px;
    height: 98px;
    left: -18px;
    top: -30px;
  }

  .svg-kali {
    top: 28px;
    left: -29px;
  }

  /* bagian kanan home */
  header .container .col-two .line-1 {
    border: 4px solid rgba(127, 90, 240, 0.85);
    transform: translateX(-60px);
  }

  header .container .col-two .line-2 {
    border: 4px solid rgba(186, 255, 41, 0.38);
    transform: translateX(-13px) translateY(71px);
  }

  .con-img {
    width: 400px;
    left: -25px;
  }

  .circle {
    right: -33px;
  }
  /* End Header */

  /* Start Section paling bawah */

  section.section-one .container-fluid .container h1.d-flex {
    font-size: calc(3vmax + 5px);
    gap: 22px;
    margin-bottom: 51px;
  }

  .section-one .container-fluid .container p {
    font-size: calc(2vmax + 4px);
    margin-bottom: 44px;
  }
  /* End Section paling bawah */

  /* Start Footer */
  footer .container .row {
    gap: 84px;
  }
  /* End Footer */
}

@media (max-width: 991px) {
  .pembungkus .back {
    height: 1350px;
  }

  header .container .col .kotak {
    margin-bottom: 41px;
    width: 100%;
  }

  header .container .col h1 {
    line-height: 97px;
    font-size: 72px;
  }

  header .container {
    flex-direction: column;
    gap: 70px;
  }

  header .container .col-7 {
    width: 82%;
  }

  .ins-div {
    width: 300px;
    height: 129px;
    left: -32px;
    top: -36px;
  }

  .svg-kali {
    position: absolute;
    top: 27px;
    left: -54px;
  }

  /* bagian kanan home */
  header .container div.col-two {
    width: 400px;
    height: 685px;
  }

  .con-img {
    width: 449px;
    height: 609px;
  }
  .circle {
    right: -60px;
  }
  header .container .col-two .line-1 {
    transform: translateX(-87px);
  }

  header .container .col-two .line-2 {
    transform: translateX(45px) translateY(71px);
  }
  /* End Header */

  /* Start Nav */

  nav.navbar {
    position: relative;
  }

  nav.bar-bar {
    background: linear-gradient(
      to top left,
      rgba(186, 165, 212, 3.7),
      rgba(186, 165, 212, 3.7) 48%
    );
  }

  nav .container div.collapse ul {
    position: absolute;
    z-index: 999;
    gap: 10px;
    left: 0px;
    right: 0px;
    top: 90px;
    display: none;
    transform: translateY(-100%);
    background: linear-gradient(
      to top left,
      rgba(186, 255, 41, 1.7) 30%,
      rgba(186, 165, 212, 3.7) 48%
    );
    transition: all 1s;
  }

  nav .container div.collapse ul li {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  nav .container div.collapse ul li a {
    color: #16161a;
  }

  .menu-toggle {
    display: block;
    height: 30px;
    position: absolute;
    top: 32px;
    right: calc(10vw + 20px);
  }

  nav .container .menu-toggle input {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
    width: 33px;
    display: block;
  }

  .menu-toggle span {
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    transition: all 0.5s;
    margin-bottom: 7px;
  }

  nav.navbar .container div.collapse ul.slide {
    transform: translateY(0%);
    display: block;
  }

  /* End Nav */

  /* Start Section paling bawah */

  section.section-one .container-fluid .container h1.d-flex {
    font-size: calc(3vmax + 2px);
  }
  .section-one .container-fluid .container p {
    font-size: calc(2vmax + 2px);
  }

  .section-one .container-fluid .container button {
    width: 267px;
    height: 64px;
    padding: 24px 48px;
    border-radius: 50px;
    align-items: center;
    margin: auto;
    display: flex;
  }
  /* End Section paling bawah */
}

@media (max-width: 768px) {
  /* Start Header */
  header .container {
    margin: auto;
  }

  header .container .col-7 {
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  header .container .col .kotak {
    margin-bottom: 40px;
    width: 582px;
  }

  header .container .col h1 {
    font-size: 60px;
    width: 482px;
  }

  .ins-div {
    width: 257px;
    height: 114px;
    left: -32px;
    top: -29px;
  }

  .svg-kali {
    top: 44px;
    left: -15px;
  }
  /* End Header */
  /* Start Section paling bawah */
  section.section-one .container-fluid {
    padding: 108px 0px;
  }

  section.section-one .container-fluid .container h1.d-flex {
    font-size: calc(5vw - 8px);
  }

  .section-one .container-fluid .container .svg-panah-2 {
    top: -60px;
    left: -47px;
  }
  .section-one .container-fluid .container .svg-kali-2 {
    bottom: -30px;
    right: -15px;
  }
  /* End Section paling bawah */
}

@media (max-width: 580px) {
  /* Start Header */
  header .container {
    margin: auto;
  }

  header .container .col-7 {
    gap: 22px;
  }

  header .container .col .kotak {
    margin-bottom: 35px;
    width: 100%;
    height: 120px;
  }

  header .container .col h1 {
    font-size: 10vw;
    width: 100%;
    line-height: 70px;
    text-align: center;
    padding: 10px;
    height: auto;
  }

  header .container .col .slogan {
    gap: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  header .container .col .slogan p {
    font-size: calc(2vw + 6px);
    margin-left: 10px;
  }

  .ins-div {
    width: 201px;
    height: 84px;
    left: 8px;
    top: -14px;
  }

  .svg-kali {
    top: 44px;
    left: 2px;
  }

  /* bagian kanan home */
  .con-img {
    width: 320px;
    left: 33px;
    height: 500px;
  }
  .circle {
    right: -25px;
  }
  header .container .col-two .line {
    width: 320px;
    height: 500px;
  }
  header .container .col-two .line-1 {
    transform: translateX(-7px);
  }

  header .container .col-two .line-2 {
    transform: translateX(46px) translateY(71px);
  }
  /* End Header */

  /* Start Section paling bawah */
  section.section-one .container-fluid {
    padding: 108px 0px;
  }

  section.section-one .container-fluid .container h1.d-flex {
    font-size: calc(5vw - 2px);
  }

  .section-one .container-fluid .container p {
    font-size: calc(4vw - 5px);
  }

  .section-one .container-fluid .container .svg-panah-2 {
    position: absolute;
    top: -94px;
    left: -19px;
  }
  .section-one .container-fluid .container .svg-kali-2 {
    position: absolute;
    bottom: 3px;
    right: 0px;
  }
  /* End Section paling bawah */
}

@media (max-width: 428px) {
  /* Start Header */

  header .container .col-7 {
    gap: 5px;
  }

  header .container .col h1 {
    line-height: 60px;
  }

  header .container .col .slogan {
    margin-top: -20px;
  }
  header .container .col .slogan p {
    font-size: calc(2vw + 4px);
  }

  .ins-div {
    width: 160px;
    height: 70px;
    left: 8px;
    top: -8px;
  }

  .svg-kali {
    top: -47px;
    left: 4px;
  }

  /* bagian home kanan nya */

  .con-img {
    width: 320px;
    left: 28px;
  }

  header .container .col-two .line {
    width: 320px;
  }
  .circle {
    right: 0px;
    bottom: -30px;
  }
  header .container .col-two .line-1 {
    transform: translateX(-21px);
  }
  header .container .col-two .line-2 {
    transform: translateX(18px) translateY(71px);
  }

  /* End Header */

  /* Start Section paling bawah */
  section.section-one .container-fluid {
    padding: 108px 0px;
  }

  section.section-one .container-fluid .container h1.d-flex {
    /* font-size: calc(7vw - 7px); */
    font-size: calc(8vw - 9px);
  }

  .section-one .container-fluid .container p {
    font-size: calc(6vw - 10px);
  }

  .section-one .container-fluid .container .svg-kali-2 {
    right: 0px;
    bottom: -79px;
  }

  .section-one .container-fluid .container button {
    font-size: 23px;
    width: 220px;
    padding: 15px 40px;
  }
  /* End Section paling bawah */
}

@media (max-width: 360px) {
  .con-img {
    width: 320px;
    left: 9px;
  }

  header .container .col-two .line {
    width: 320px;
  }
  .circle {
    right: 0px;
    bottom: -30px;
  }
  header .container .col-two .line-1 {
    transform: translateX(-21px);
  }
  header .container .col-two .line-2 {
    transform: translateX(0px) translateY(71px);
  }

  /* Start Section paling bawah */

  .section-one .container-fluid .container p {
    font-size: calc(7vw - 12px);
  }

  .section-one .container-fluid .container button {
    font-size: 23px;
    width: 200px;
    height: 40px;
    padding: 15px 28px;
  }
  /* End Section paling bawah */
}
